<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>QTV · @ViewData["Title"]</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="min-100">
  <div class="bg-mineral-green-light nav-bg"></div> <!-- Hmm, not too elegant -->
  <div class="bg-mineral-green logo-bg"></div>

  <div class="container min-100 d-flex flex-column">

    <!-- Header -->

    <header class="row header">
      <div class="col-3 bg-logo">
        <img src="~/img/logo.svg" alt="Qoollo Logo" class="logo" />
      </div>
      <div class="col-6">
        <h1>@ViewData["Title"]</h1>
      </div>
      <div class="col-3">
        <!-- TODO: Userpic and username -->
      </div>
    </header>

    <div class="row main flex-fill">

      <!-- Navigation -->

      <nav class="nav flex-column col-3">
        <a asp-action="index" asp-controller="Board" class="nav-link @(ViewBag.Current == "Board" ? "active" : "")">
          <img src="~/img/icon/board_icon.svg" class="navicon" />
          BOARD
        </a>
        <a asp-action="index" asp-controller="Settings" class="nav-link @(ViewBag.Current == "Settings" ? "active" : "")">
          <img src="~/img/icon/settings_icon.svg" class="navicon" />
          SETTINGS
        </a>
        <a class="nav-link" data-toggle="modal" data-target="#confirmSignOutModal" href="">
          <img src="~/img/icon/sign_out_icon.svg" class="navicon" />
          SIGN OUT
        </a>
      </nav>

      <!-- Board -->

      <div class="col-9">
        @RenderBody()
      </div>
    </div>
  </div>

  <!-- Sign out confirmation -->

  <div class="modal fade" id="confirmSignOutModal" tabindex="-1" role="dialog" aria-labelledby="confirmSignOutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmSignOutModalLabel">Sign out</h5>
        </div>
        <div class="modal-body">
          Are you sure you want to sign out?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">No</button>
          <button type="button" class="btn">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
